/*//////////// part 1 /////////// */
.section{
    background-color: #ffffffe5;
}
.section .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px ;
    padding-bottom: 60px ;
}
.section .wrapper .row{
    text-align: center;
    max-width: 40%;
}
.section .wrapper .row img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 5px 4px 14px 3px rgba(0, 0, 0, 0.2);
}
.section .wrapper .row2{
    text-align: center;
    max-width: 40%;
    padding-left: 30px;
}
.section .wrapper .row h2{
    color: #0a57a3;
    font-size: 25px;
    line-height: 30px;
}
/*//////////// Hover Button //////////*/
@keyframes pulse {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.25);
    }
  
    100% {
      transform: rotate(45deg) scale(1);
    }
  }
.hoverButton {
    position: fixed;
    right: 10px;
    bottom: 50px;
    border: solid #3E50E5;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: pulse 2s infinite;
    transform-origin: center;
}
:hover .hoverButton {
    cursor: pointer;
}
  
.active {
    display: none;
}

/*//////////// part 2 /////////// */
.section2{
    background-color: #e2e0e0e7;
    padding-top: 10px;
}
.section2 .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px ;
    padding-bottom: 60px ;
}
.section2 .wrapper .row{
    text-align: left;
    max-width: 40%;
    padding-left: 20px;
}
.section2 .wrapper .row2{
    text-align: left;
    max-width: 40%;
}
/*//////////// part 3 /////////// */
.section3{
    background-color: #fff;
    padding-top: 10px;
}
.section3 .wrapper{
    display: flex;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 60px;
    justify-content: space-evenly
}
.section3 .wrapper .row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40%;
   
}

.section3 .wrapper a {
    color: #065e99;
    font-weight: 600;
    font-size: 26px;
}
.section3 .wrapper .row img {
    max-width: 100%;
    height: auto;
}



@media (max-width: 980px) {
/*//////////// part 1 /////////// */
    .section .wrapper{
        flex-direction: column;
    }
    .section .wrapper .row{
        max-width: 90%;
    }
    .section .wrapper .row2{
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 90%;
    }

}

  @media (max-width: 760px) {
/*//////////// Hover Button //////////*/
     .hoverButton {
        right: 9px;
        bottom: 35px;
        border-width: 0 6px 6px 0;
        padding: 7px;
    }
 /*//////////// part 1 /////////// */   
 .section .wrapper{
    padding-top: 50px ;
    padding-bottom: 30px ;
}
   .section .wrapper .row2{
        padding-left: 0;
        padding-top: 25px;
        max-width: 85%;
    }
    .section .wrapper .row img {
        max-width: 85%;
    }

/*//////////// part 2 /////////// */
.section2 .wrapper{

    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 25px;
}
.section2 .wrapper .row{
    text-align: center;
    padding-top: 20px;
    max-width: 85%;
    padding-left: 0;
}
  .section2 .wrapper .row2{
    text-align: center;
    padding-top: 20px;
    max-width: 85%;
    padding-bottom: 20px;    
}
/*//////////// part 3 /////////// */

.section3 .wrapper{
 flex-direction: column;
 align-items: center;
    padding-top: 40px ;
    padding-bottom: 40px ;
}
.section3 .wrapper .row{
    max-width: 85%;
    padding-left: 0;
}
  .section3 .wrapper .row2{  
    max-width: 90%;
}
.section3 .wrapper .row img {
    max-width: 85%;
    
}
.section3 .wrapper .row2 img {
    max-width: 70%;
    padding-top: 30px;
}
.section3 .wrapper .row2{
    padding-bottom: 0;
}


  } 