

.main1 {
  width: 100%;
  background-color: #a39f9fe7;
}
 

 .main2 {
  max-width: 1800px;
  margin: 0 auto;
  background-color: #a39f9fe7;

}

/* .backgroundImage {

  background-size: cover;
  background-position: center;
}   */