/*//////////// part 1 /////////// */
.section{
    background-color: #ffffff;
}
.section .wrapper{
    display: flex;
    flex-direction: column;
    padding: 40px 0 20px 0;
}
.section h2{
    font-size: 29px;
    
}
.section .wrapper .row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .wrapper .row1 div {
    max-width: 55%;
    margin: 2.5%;
}
.section .wrapper .row1 div img{
    max-width: 100%;
}


/*//////////// Hover Button //////////*/
@keyframes pulse {
    0% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.25);
    }
  
    100% {
      transform: rotate(45deg) scale(1);
    }
  }
.hoverButton {
    position: fixed;
    right: 10px;
    bottom: 50px;
    border: solid #3E50E5;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: pulse 2s infinite;
    transform-origin: center;
}
@media (min-width: 1801px) {
    .hoverButton {
        right: calc((100vw - 1800px) / 2 + 10px); /* Adjusted right position */
    }
  }
:hover .hoverButton {
    cursor: pointer;
}
  
.active {
    display: none;
}

/*//////////// part 2 /////////// */
.section2{
    background-color: #ffffff;
}
.section2 .wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px ;
}
.section2 .wrapper .row{
    text-align: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 3.5%;
}
.section2 .wrapper .row h2{
   padding-bottom: 2%;
   
}
.section2 .wrapper .row2{
    display: flex;
    justify-content: space-evenly;
}
.section2 .wrapper .row2 div{
    max-width: 25%;
}
.section2 .wrapper .row2 div img{
    max-width: 110%;
}
/*//////////// part 3 /////////// */
.section3{
    background-color: #e2e0e0e7;
}
.section3 .wrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px ;
    padding-bottom: 50px ;
}
.section3 .wrapper .row{
    max-width: 45%;
}

 /*//////////// part 4 /////////// */
 .section4{
    background-color: #ffffff;
}
.section4 .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 6% ;
    padding-bottom: 7% ;
}
.section4 .wrapper .row1{
    display: flex;
}
.section4 .wrapper .row1 div{
    max-width: 45%;
    margin: auto;
    margin-top: 0;
}
.section4 .wrapper .row1 div p{
    margin-top: 5%;
}
.section4 .wrapper .row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2%;
}

.section4 .wrapper .row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.section4 .wrapper .row3 div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.section4 .wrapper .row3 div div{
max-width: 30.5%;
}
.section4 .wrapper .row3 div img{
    max-width: 90%;
}


  @media (max-width: 800px) {
/*//////////// Hover Button //////////*/
     .hoverButton {
        right: 9px;
        bottom: 35px;
        border-width: 0 6px 6px 0;
        padding: 7px;
    }
 /*//////////// part 1 /////////// */   
 .section .wrapper{
    padding: 30px 5.25% 20px 5.25%;
}
.section .wrapper .row1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section .wrapper .row1 div {
    max-width: 100%;
    margin-bottom: 2.5%;
}



/*//////////// part 2 /////////// */
.section2 .wrapper{
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.section2 .wrapper .row{
    text-align: center;
    padding-top: 20px;
    max-width: 85%;
    padding-left: 0;
}
  .section2 .wrapper .row2{
    flex-direction: column;
    align-items: center;
}
.section2 .wrapper .row2 div{
    max-width: 100%;
    margin-bottom: 3%;
}
.section2 .wrapper .row2 div img{
    max-width: 100%;
}
/*//////////// part 3 /////////// */

.section3 .wrapper{
 flex-direction: column;
 align-items: center;
    padding-top: 40px ;
    padding-bottom: 40px ;
}
.section3 .wrapper .row{
    max-width: 85%;
    padding-left: 0;
}

 /*//////////// part 4 /////////// */
 .section4{
    background-color: #ffffff;
}
.section4 .wrapper{
    padding-top: 30px ;
    padding-bottom: 45px ;
}
.section4 .wrapper .row1{
    flex-direction: column;
}
.section4 .wrapper .row1 div{
    max-width: 85%;
    margin-bottom: 25px;
}
.section4 .wrapper .row1 div{
    max-width: 85%;
    margin-bottom: 25px;
}
.section4 .wrapper .row1 img{
    max-width: 95%;
}
.section4 .wrapper .row2 img{
    max-width: 85%;
}
.section4 .wrapper .row2 h2{
    max-width: 85%;
    margin: auto;
    margin-bottom: 7%;
}
.section4 .wrapper .row3 div{
    flex-direction: column;
}
.section4 .wrapper .row3 div div{
max-width: 85%;
}
.section4 .wrapper .row3 h2{
    text-align: center;
    max-width: 85%;
    margin-bottom: 7%;
}
.section4 .wrapper .row3 div img{
    max-width: 100%;
    margin-bottom: 4%;
}
  } 