.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 15px;
}


@media (max-width: 768px) {
  .list {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
   
  }
 

}