
.footer-bottom-nav {
    background-color: #3E3E3E;
    color: #f2f2f2;
    padding: 20px 0;
    padding-top: 40px;

}

.footer .footer-bottom-nav .container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.Footer_links_subsection {
    width: 26%;
    display: flex;
    flex-direction: column;
}

.footer-links__title {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #efefef;
    font-weight: 501;
    max-width: 85%;
}

.footer-links__wrapper-links {
    list-style-type: none;
    padding-left: 0;
}

.footer-links__wrapper-links li {
    margin-bottom: 10px;
}

.footer-links__wrapper-links a {
    font-size: 0.9em;
    color: #f2f2f2;
    text-decoration: none;
}

.footer-links__wrapper-links a:hover {
    color: #a39f9f;
}

.footer .copyright-text {
    color: #E0E0E0;
    background: #2B2B2B;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0 20px;
}

/*////////////// MAP ///////////////// */
.google-map{
    max-width: 82.5%;
}
.Footer_links_subsection_map {
    width: 40%;
    display: flex;
    flex-direction: column;
}
/*////////////// Contact info ///////////////// */

.address{
    max-width: 85%;
}
.address p{
    font-style: italic;
    color: grey;
    margin: 1%;
}
.address span{
    color: #b8b8b8; 
    font-style: normal;    
    font-weight: bold;
}
.contact .email{
    color: #436ee7;
    font-size: 1.3rem;
    padding-right: 1.5%;
}
/*////////////   ADDRESS VISIBLE  ////*/    
.address1{
    padding-top: 7% ;
    display: none;
}

.address1 p{
    font-style: italic;
    color: grey;
    margin: 1%;
}
.address1 span{
    color: #b8b8b8; 
    font-style: normal;    
    font-weight: bold;
}
.contact1{
    display: none;
}
.contact1 .email{
    color: #436ee7;
    font-size: 1.3rem;
    padding-right: 1.5%;
} 

@media (max-width: 800px) {
    .footer .footer-bottom-nav .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .Footer_links_subsection {
        width: 85%;
        padding-bottom: 5%;
        align-items: center;
    }
/*////////////// MAP ///////////////// */
    .google-map{
        max-width: 100%;
    }
    .Footer_links_subsection_map {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }
/*////////////   ADDRESS VISIBLE  ////*/    
    .address1{
        padding-top: 7% ;
        display: block;
    }

    .address1 p{
        font-style: italic;
        color: grey;
        margin: 1%;
    }
    .address1 span{
        color: #b8b8b8; 
        font-style: normal;    
        font-weight: bold;
    }
    .contact1{
        display: block;
    }
    .contact1 .email{
        color: #436ee7;
        font-size: 1.3rem;
        padding-right: 1.5%;
    }    
/*///////////// DISPLAN NONE////////////*/    
    .address{
        display: none;
    }
    .contact{
        display: none;
    }
}